/* sign up pages */
.auth-page{
    display: none;
    flex-direction: column;
    text-align: center;
}
.auth-page h2{
    margin-bottom: 3rem;
    font-size: 1.2rem;
}
.sign{
    background-color: #5712DF;
    color: white;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}
.sign:hover{
    background-color: #4f11ca;
    transition: all;
    transition-duration: 200ms;
}
.bottom-text{
    font-size: .8rem;
    margin: 3rem 0 .5rem 0;
    color: rgba(0, 0, 0, 0.7);
}
.signin{
    font-size: .8rem;
    color: #5712DF;
}

.container{
    margin: 0;
    height: 100%;
    width: 25rem;
    padding: 5% 10%;
    box-sizing: border-box;
}

h2{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}
.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.logo{
    border-radius: 100%;
    margin-right: 0.5rem;
}

.simpli-summary{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem 0;
    margin: 0;
    line-height: 1.5rem;
    list-style: none;
}

.simpli-summary h3{
    font-size: 1rem;
    margin: 0;
}

.simpli-summary p{
    font-size: .8rem;
}

.semi-important{
    font-weight: 600;
}
.important{
    font-weight: 900;
}

.options-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.options-menu button{
    background-color: #3a118c;
    color: #ffffff;
    width: 100%;
    cursor: pointer;
    padding: .5rem 1.5rem;
    border-top: black solid .1rem;
    border-bottom: black solid .1rem;
    border-right: black solid .5rem;
    border-left: black solid .5rem;
}

.options-menu button:first-child{
    border-right: none;
}
.options-menu button:last-child{
    border-left: none;
}

.terms-selected{
    background-color: #5712DF !important;
    font-weight: bold;
    border-left: black solid .1rem !important;
}

.privacy-selected{
    background-color: #5712DF !important;
    font-weight: bold;
    border-right: black solid .1rem !important;
}

.disclaimer{
    color: rgba(0, 0, 0, 0.4);
}

.greeting{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 1rem;
}

.greeting p{
    margin: 0 !important;
}

.greeting h1{
    font-size: 1rem;
    margin: 0 !important;
}

.sub-type{
    color: white;
    border-radius: .2rem;
    padding: .3rem .5rem;
    font-size: .6rem;
}

.account-link{
   text-decoration: none;
}

.loading-container{
    display: none;
    margin: 4rem .5rem 4rem .5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-container h2{
    text-align: center;
    margin-top: 2rem;
}

.loading-logo{
    border-radius: 100%;
    animation: rotate 1s ease 0s infinite;
}

#simpli-summary-privacy{
    display: none;
}

.bold{
    font-weight: bold;
}

.main-content{
    display: flex;
    flex-direction: column;
}

.msg-hi{
    font-size: .9rem;
}

.navbar-icon-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    padding: .57rem;
    background-color: #F5F5F5;
    border: none;
    margin-left: .7rem;
}

.navbar-icon-button:hover{
    transition: all;
    transition-duration: 300ms;
    background-color: #dddddd;
}

.navbar-icon-button:first-of-type{
    margin-left: 0;
}

.navbar-icon-button:last-of-type{
    display: none;
}

.navbar-icon-button svg{
    width: 100%;
    height: 100%;
    color: black;
}

.odometer{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 2rem;
    padding: 1rem 2rem;
}

.grade-explanation{
    margin-left: 2rem;
}
.grade-explanation h2{
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: .1rem;
}

.traffic-light{
    background-color: black;
    border-radius: 1rem;
    padding: .5rem .8rem;
}

.red-light-ball,.yellow-light-ball,.green-light-ball,.red-light-ball-active, .yellow-light-ball-active, .green-light-ball-active {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 100%;
    opacity: 50%;
    margin-bottom: .4rem;
}

.red-light-ball{
    background-color: red;
}
.yellow-light-ball{
    background-color: yellow;
}
.green-light-ball {
    margin-bottom: 0;
    background-color: rgb(0, 182, 0);
}

.red-light-ball-active {
    opacity: 100%;
    background-color: red;
    box-shadow: 
        0 0 20px red,
        0 0 40px red,
        0 0 80px red,
        0 0 120px red;
}

.yellow-light-ball-active {
    opacity: 100%;
    background-color: yellow;
    box-shadow: 
        0 0 20px yellow,
        0 0 40px yellow,
        0 0 80px yellow,
        0 0 120px yellow;
}

.green-light-ball-active {
    opacity: 100%;
    background-color: rgb(0, 182, 0);
    margin-bottom: 0;
    box-shadow: 
        0 0 20px rgb(0, 182, 0),
        0 0 40px rgb(0, 182, 0),
        0 0 80px rgb(0, 182, 0),
        0 0 120px rgb(0, 182, 0);
}


.error-box{
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 1.2rem;
    background-color: rgba(256, 0, 0, 0.5);
}

.error-box h3{
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.error-box p{
    font-size: .8rem;
    color: white;
}

.info-page{
    display: none;
}

.info-tab{
    display: flex;
    flex-direction: column;
    height: 10rem;
}

.dashboard-page{
    display: none;
}

.question-page{
    display: flex;
    margin: 4rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-page h1{
    text-align: center;
    font-size: 1rem;
    padding: 0 .5rem;
    margin: 0 0 .5rem 0;
}

.question-page h2{
    opacity: 60%;
    text-align: center;
    text-decoration: underline;
    font-size: 1.4rem;
    margin: 0 0 2rem 0;
}

.question-page button{
    background-color: #5712DF;
    color: white;
    font-weight: bold;
    padding: 1.1rem 2.6rem;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
}

.start-button:hover{
    background-color: #6324DF;
    transition: all;
    transform: scale(120%);
    transition-duration: 200ms;
}

.start-button{
    transition: all;
    transition-duration: 200ms;
}

.h4-info{
    font-size: 1rem;
    font-weight: 500;
    opacity: 80%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}